body
{
background-image: url(images/background.png);
background-repeat: repeat-x;
animation: slide 20s linear infinite;
}

@keyframes slide{
0%{
background-position: 0% 0%;
}
50%{
background-position: 100% 0%;
}
100%{
background-position: 0% 0%;
}



}



#gif
{
padding: 10px;
height: 150px;
width: 250px;
float: left;
}

#soundcloud
{
width: 30%;
height: 150px;
float: left;
padding: 10px;
margin-left: auto;

}


.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.roboto-mono {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#text-link
{
color: white;
text-decoration-line: none;
}

#todolist {
  background-color: rgba(55, 55, 55, 0.2);
  height: 300px;
  width: 650px;
  margin: 10px;
  margin-top: 150px;
  text-align: center;
  -webkit-backdrop-filter: blur(4px);
  
}
